terraform {
  backend "s3" {
    bucket       = "REPLACE-ME-terraform-state"
    key          = "app-stack/dev/terraform.tfstate"
    region       = "ap-south-1"
    encrypt      = true
    use_lockfile = true
  }
}
